* {
  font-weight: 300;
  color: #828282;
  cursor: default;
}
.work-intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 2vw;
  width: 76%;
  margin-left: 1em;
}

.highlight {
  color: #5B7FFE;
  font-weight: 600;
}

.highlight:hover {
  color: #7F93FF;
  opacity: .6;
}

img {
  border-radius: 20px;
  box-shadow: 0 2px 20px #AEAEAE;
}
