/*-----WEB-----*/
.case-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -3em;
  margin-top: 3em;
}

* {
  font-size: .92em;
  font-weight: 600;
}

.item {
  text-decoration: none;
  color: #929292;
  margin-right: 2em;
  margin-left: 2em;
}

.item:hover {
  color: #A3B1FB;
  cursor: pointer;
}

.activePage {
  color: #4f4f4f;
}


/*----MOBILE----*/
.mobile * {
  font-size: 1em;
}


.mobile-case-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 4em -2em 0 -2em;
  padding-top: 1em;
  padding-bottom: .5em;
  background-color: #5B7FFE;
  opacity: .55;
}

.mobile .item {
  display: flex;
  color: #FFFFFF;
  margin-bottom: .5em;
  font-weight: 400;
}

.mobile .activePage {
  font-weight: 700;
  text-decoration: underline;
}
