.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 4em;

}
* {
  font-size: .92em;
  font-weight: 600;
  margin-bottom: 1.4em;
  margin-top: -.4em;
}

.nav-item {
  text-decoration: none;
  color: #929292;
  margin-right: 2.4em;
}

.nav-item:hover, a:hover{
  color: #A3B1FB;
  cursor: pointer;
}

.activePage {
  color: #4f4f4f;
}

/*--mobile-- */

.nav-bar-container-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 1.4em;
  padding-bottom: 1em;
  background-color: #5B7FFE;
  opacity: .55;

}

.nav-bar-container-mobile .nav-item {
  font-size: 1em;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 1em;
  color: #FFFFFF;
  font-weight: 400;
}

.nav-bar-container-mobile .activePage {
  font-weight: 700;
  text-decoration: underline;
}


