.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

* {
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 1.4em;
  margin-top: -.4em;
}

a, .nav-item {
  text-decoration: none;
  color: #929292;
}
.nav-item {
  margin-right: 2.4em;
}

.nav-item:hover, a:hover{
  color: #A3B1FB;
  cursor: pointer;
}

.activePage {
  color: #333333;
}

*:focus {outline:0 !important;}
