.full-container {
  display: flex;
  flex-direction: column;
}

.selection-title {
  font-size: .8em;
  font-weight: 600;
  color: #929292;
  margin-top: 6em;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  margin-top: -2em;
}
.work-cards-container {
  width: 30vw;
  height: 20vw;
  background-image: url("/src/assets/img/card-1.png");
  background-position: center;
  background-size: 30vw;
  opacity: .8;
  box-shadow: 0 6px 48px #AEAEAE;
  margin: 3em 0em 1em 0em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.card-title {
  font-size: 1.8em;
  margin-bottom: .6em;
  visibility: hidden;
  font-weight: 700;
}

.card-description {
  font-size: 1.1em;
  font-weight: 400;
  visibility: hidden;
}

.work-cards-container:hover {
  background:
    center
    rgba(110, 110, 110, .9);
  background-size: 30vw;
  background-blend-mode: multiply;
  cursor: pointer;
}


.work-cards-container:hover .card{
  visibility: visible;
}

