/*----web---------*/
/*----page wide---*/
.outer-container {
  margin: -2em 4em 4em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  margin: 0 8em 4em 8em;
  font-size: 1.1em;
  color: #4f4f4f;
  font-weight: 300;
  line-height: 1.8em;

}
/*------intro--------*/
h2 {
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
  color: #7F93FF;
}
.description {
  text-align: left;
  font-style: italic;
  font-size: 1.2em;
  margin: 0 3em 2em 3em;

}
.intro-img {
  display: flex;
  justify-content: center;
  align-self: center;
  /*margin:0 -8em 4em -8em;*/
  margin-bottom: 4em;
}
img.intro {
  width: 100%;
}
/*-----overview----*/
.word-section {
  display: flex;
  flex-direction: column;
  margin: 1em 0 6em 0;
}
.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.4em;
  /*color: #828282;*/
}

.section-img {
  margin-bottom: 2em;
}

.problem .section-descrip {
  margin-bottom: 1em;
}

.problem .section-img {
  margin-bottom: 1em;
}



/*-----mobile-----*/
.mobile .outer-container {
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile h2 {
  font-size: 1.25em;
  text-align: left;

}

.mobile .main-container {
  font-size: 1em;
  margin: 0;
}

.mobile .description {
  margin: 0;
}
