/*----web---------*/
/*----page wide---*/
.outer-container {
  margin: -2em 4em 4em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  margin: 0 8em 4em 8em;
  font-size: 1.1em;
  color: #4f4f4f;
  font-weight: 300;
  line-height: 1.8em;

}
/*------intro--------*/
h2 {
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
  color: #7F93FF;
}
.description {
  text-align: left;
  font-style: italic;
  font-size: 1.2em;
  margin: 0 3em 2em 3em;

}
.intro-img {
  display: flex;
  justify-content: center;
  align-self: center;
  /*margin:0 -8em 4em -8em;*/
  margin-bottom: 4em;
}
img.intro {
  width: 100%;
}
/*-----overview----*/
.word-section {
  display: flex;
  flex-direction: column;
  margin: 1em 0 6em 0;
}
.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.4em;
  /*color: #828282;*/
}

.section-img {
  margin-bottom: 2em;
}

.problem .section-descrip {
  margin-bottom: 1em;
}

.problem .section-img {
  margin-bottom: 1em;
}



/*-----mobile-----*/
.mobile body {
  width: 100%;
}

.mobile-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.mobile .main-container {
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.mobile h2 {
  font-size: 1.4em;
  text-align: left;
  display: flex;
  line-height: 1.5em;
}
.mobile .intro img {
  margin-left: -1em;
  margin-bottom: -1em;
  height: 180px;
}

.mobile .overview img {
  margin-bottom: -.5em;
}

.mobile img {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 0;
}

.mobile .description {
  font-size: 1em;
  margin: 0 0 1em 0;
}

.mobile .word-section, .mobile .process, .mobile video  {
  margin-bottom: 3em;
}

.mobile .title {
  margin-bottom: 1em;
  font-size: 1em;
}

.mobile .process-title {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
}

.mobile .research img, .mobile .protos, .mobile .final-design
.section-descrip, .mobile .research .pimg, .mobile .pdescrip  {
  margin-bottom: 0;
}

.mobile .proto-title {
  margin-top: 2em;
}

 .mobile .final-design .word-section {
   margin-bottom: 1em;
 }

.mobile .reflections .section-descrip {
  margin-bottom: -2em;
}

