<div class="full-container">
  <div class="blurbs-container">
    <p class="chat-title">CHAT WITH ME ABOUT</p>
    <div *ngFor="let blurb of blurbs" class="single-blurb">
      <div class="title-container">
        <img class="title-img" src="{{blurb.imgUrl}}" alt="{{blurb.imgAlt}}">
        <div class="words-container">
          <div class="blurb-title">{{blurb.title}}</div>
          <div class="blurb-description">{{blurb.description}}</div>
        </div>
      </div>


    </div>



  </div>
</div>
